.app_theme_e .uk-alert {
  background: #607d8b;
}
.app_theme_e .md-btn-primary,
.app_theme_e .md-btn-primary:hover,
.app_theme_e .md-btn-primary:focus,
.app_theme_e .md-btn-primary:active {
  background: #607d8b;
  color: #fff;
}
.app_theme_e .md-btn-flat-primary,
.app_theme_e .md-btn-flat-primary:hover,
.app_theme_e .md-btn-flat-primary:focus,
.app_theme_e .md-btn-flat-primary:active {
  color: #455a64;
}
.app_theme_e .md-btn-flat-primary:hover,
.app_theme_e .md-btn-flat-primary:focus,
.app_theme_e .md-btn-flat-primary:active {
  background: #d5dee2;
}
.app_theme_e .uk-badge-primary {
  background: #607d8b;
}
.app_theme_e .md-card-list-wrapper .md-card-list > ul > li.item-shown.md-card-list-item-selected:before {
  background: #eceff1;
}
.app_theme_e .md-card-list-wrapper .md-card-list .md-card-list-item-selected {
  background: #eceff1;
}
.app_theme_e .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown {
  background: #fff;
}
.app_theme_e .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown:before {
  background: #eceff1;
}
.app_theme_e .md-fab.md-fab-accent {
  background: #e53935;
}
.app_theme_e .md-list .uk-nestable-list > li.md-list-item-active,
.app_theme_e .md-list > li.md-list-item-active {
  color: #e53935;
}
.app_theme_e .md-list-addon > li.md-list-item-active .md-list-addon-element,
.app_theme_e .md-list-addon > li.md-list-item-active .md-list-addon-element .material-icons {
  color: #e53935;
}
.app_theme_e .uk-pagination > li > a:hover {
  background: #fceaea;
}
.app_theme_e .uk-pagination > li.uk-active > a,
.app_theme_e .uk-pagination > li.uk-active > span {
  background: #e53935;
  color: #fff;
}
.app_theme_e .uk-subnav-pill > .uk-active > * {
  background: #e53935;
}
.app_theme_e .uk-tab > li > a:hover,
.app_theme_e .uk-tab > li > a:focus {
  border-bottom-color: #b7c6cd;
}
.app_theme_e .uk-tab > li.uk-active > a {
  border-bottom-color: #607d8b;
}
.app_theme_e .uk-tab-bottom li > a:hover,
.app_theme_e .uk-tab-bottom li > a:focus {
  border-top-color: #b7c6cd;
}
.app_theme_e .uk-tab-bottom li.uk-active > a {
  border-top-color: #607d8b;
}
.app_theme_e .uk-tab-left li > a:hover,
.app_theme_e .uk-tab-left li > a:focus {
  border-right-color: #b7c6cd;
}
.app_theme_e .uk-tab-left li.uk-active > a {
  border-right-color: #607d8b;
}
.app_theme_e .uk-tab-right li > a:hover,
.app_theme_e .uk-tab-right li > a:focus {
  border-left-color: #b7c6cd;
}
.app_theme_e .uk-tab-right li.uk-active > a {
  border-left-color: #607d8b;
}
.app_theme_e .uk-tab-double-header li a:hover,
.app_theme_e .uk-tab-double-header li a:focus {
  border-bottom-color: #7b96a3;
}
.app_theme_e .uk-tab-double-header li.uk-active > a {
  border-bottom-color: #e53935;
}
.app_theme_e #header_main {
  background: #607d8b;
}
.app_theme_e .header_double_height:after {
  background: #607d8b;
}
.app_theme_e #top_bar .top_bar_nav > li > a:hover {
  -webkit-box-shadow: inset 0 -3px 0 #607d8b;
  box-shadow: inset 0 -3px 0 #607d8b;
}
.app_theme_e #top_bar .top_bar_nav > li.uk-active a {
  -webkit-box-shadow: inset 0 -3px 0 #607d8b;
  box-shadow: inset 0 -3px 0 #607d8b;
}
.app_theme_e .user_heading {
  background: #455a64;
}
.app_theme_e #sidebar_main .menu_section > ul > li ul li.act_item a {
  color: #e53935;
}
.app_theme_e #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
  color: #e53935;
}
.app_theme_e #sidebar_main .menu_section > ul > li.current_section > a .menu_title {
  color: #e53935;
}
.app_theme_e .sidebar_mini #sidebar_main .menu_section > ul > li > a > .menu_title {
  background: #e53935;
  color: #fff;
}
.app_theme_e .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu {
  background: #e53935;
}
.app_theme_e .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu > a .menu_icon .material-icons {
  color: #fff;
}
.app_theme_e .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu ul {
  border-left-color: #e53935;
}
.app_theme_e .sidebar_mini #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
  color: #e53935;
}
.app_theme_e .clndr .clndr_days .clndr_days_grid .day.today > span {
  background: #e53935;
}
.app_theme_e .DTTT_print_info h6 {
  color: #e53935;
}
.app_theme_e .fc-unthemed .fc-button.fc-state-active:after {
  color: #e53935;
}
.app_theme_e .fc-unthemed .fc-highlight {
  -webkit-box-shadow: inset 0 0 0 2px #607d8b, inset 0 -1px 0 2px #607d8b;
  box-shadow: inset 0 0 0 2px #607d8b, inset 0 -1px 0 2px #607d8b;
}
.app_theme_e .tablesorter-altair tbody > tr.row_highlighted > td {
  background: #eceff1;
}
.app_theme_e .tablesorter-altair .headerSortUp,
.app_theme_e .tablesorter-altair .tablesorter-headerSortUp,
.app_theme_e .tablesorter-altair .tablesorter-headerAsc,
.app_theme_e .tablesorter-altair .headerSortDown,
.app_theme_e .tablesorter-altair .tablesorter-headerSortDown,
.app_theme_e .tablesorter-altair .tablesorter-headerDesc {
  color: #e53935;
}
.app_theme_e .wizard > .steps {
  background: #607d8b;
}
.app_theme_e .wizard > .steps > ul > li.current a,
.app_theme_e .wizard > .steps > ul > li.current a:hover,
.app_theme_e .wizard > .steps > ul > li.current a:active {
  background: #7b96a3;
}
.app_theme_e .wizard > .steps > ul > li.done a,
.app_theme_e .wizard > .steps > ul > li.done a:hover,
.app_theme_e .wizard > .steps > ul > li.done a:active {
  background: #455a64;
}
.app_theme_e .md-card-primary {
  border-left-color: #607d8b;
}
.app_theme_e .waves-effect.md-btn-flat-primary {
  background: none;
}
.app_theme_e .waves-effect.md-btn-flat-primary .waves-ripple {
  background: rgba(96, 125, 139, 0.4);
}
.app_theme_e .search_list_link {
  color: #e53935;
}
.app_theme_e .chatbox.cb_active .chatbox_header {
  background: #455a64;
}
.app_theme_e .chatbox_content .chatbox_message.own .chatbox_message_content li > span {
  background: #607d8b;
}
.app_theme_e .uk-table tr.row_checked td,
.app_theme_e .uk-table-hover tbody tr:hover {
  background: #eceff1;
}
